* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0c10;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label {
    font-family: "Titillium Web", sans-serif;
    color: #c5c6c7;
}

.bold {
    font-weight: bold;
}

.container {
    background-color: #1f2833;
    border-color: #45a29e;
    border-style: solid;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 130px;
}

.title {
    text-align: center;
    color: #66fcf1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: white;
    font-size: 14px;
}

tr {
    height: 50px;
}

td {
    text-align: center;
    font-size: 15px;
}

label {
    font-size: 18px;
}

.tdMktCp {
    width: 150px;
}

.coin-img {
    width: 30px;
}

.selectCrypto {
    width: 150x;
    font-size: 16px;
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    margin: auto;
    display: block;
    border-color: #66fcf1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectedOptionDiv {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.coinInputField {
    text-align: center;
    width: 90%;
    padding: 5px;
    font-size: 16px;
    margin-top: 2%;
}

.highlight {
    font-weight: bold;
    color: #66fcf1;
}

.additionalCoinData {
    background-color: #b7b7b71c;
}

.red {
    color: #d60a0a;
}

.green {
    color: #0db50d;
}

.sparklineGraph {
    width: 150px;
    height: 50px;
}

.coinTitle {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #d4d4d41f;
}

.coinTitle:hover {
    background-color: #45a29d1e;
    cursor: pointer;
}

.hide {
    display: none;
}

.textCenter {
    text-align: center;
}

.calcDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}
