* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0c10;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th {
    font-family: "Titillium Web", sans-serif;
}

p {
    font-size: 18px;
}

th {
    font-size: 20px;
}

td {
    text-align: center;
}

.container {
    background-color: #fff;
    border-color: #45a29e;
    border-style: solid;
    padding: 25px;
    margin: auto;
    width: 800px;
    margin-top: 5%;
    border-radius: 25px;
}

.selectCrypto {
    text-align: center;
}

/* Coin Table */
.coinTitle {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.coinImg {
    height: 30px;
    width: 30px;
}

tr {
    height: 25px;
}
